---
layout: default
---

<article class="page">
  <!-- <h1>{{ page.title }}</h1> -->
<style>


details {
    background-color: #e0f2f1; /* Pale teal background */
    color: #000080;            /* Navy blue text */
    font-weight: 400;         /* Bold text */
    padding: 2px 6px;          /* Adds space around the text */
    border-radius: 4px;        /* Softens the corners */
    margin-bottom: 10px;
}

details summary {
    /* background-color: #e0f2f1; /* Pale teal background */
    color: #000000;            /* Navy blue text */
    font-weight: 900;         /* Bold text */
    padding: 2px 6px;          /* Adds space around the text */
    border-radius: 4px;        /* Softens the corners */
    font-size: 1.2em;
}

h2 {
    color: #000000;            /* Navy blue text */
    font-weight: 900;         /* Bold text */
    margin-top: 1em;
    border-top: 2px dashed #333;
}

details h2 {
    color: #000080;            /* Navy blue text */
    font-weight: 900;         /* Bold text */
    font-size: 1.2em;
    margin-left: 1.7em;
}

details h3 {
    color: #000080;            /* Navy blue text */
    font-weight: 900;         /* Bold text */
    font-size: 1.2em;
    margin-left: 1.7em;
}

details p {
  margin-left: 2em;
}

details ul {
  margin-left: 2em;
}





</style>
  <div class="entry">
    {{ content }}
  </div>
</article>
